# Projet analyse des données Vélib

On importe nos librairies Python (Pandas, numpy, matplotlib ...), nous permettant d'étudier notre data set.

In [1]:
import pandas as pd
import numpy as np
import random as rd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_style('darkgrid')
import csv 
%matplotlib inline

Chargement des données loading et coord. Loading nous informe sur l'état de chargement de chaque station en fonction de l'heure. 
Coord nous donne les coordonnées et nom de chaque station de vélib de Paris.

In [2]:
path    = 'data/'  # If data in 'data' directory
loading = pd.read_csv(path + 'velibLoading.csv', sep = " ")
loading.head()
#loading ccontient en colonne les heures et en lignes les stations

,Lun-00,Lun-01,Lun-02,Lun-03,Lun-04,Lun-05,Lun-06,Lun-07,Lun-08,Lun-09,...,Dim-14,Dim-15,Dim-16,Dim-17,Dim-18,Dim-19,Dim-20,Dim-21,Dim-22,Dim-23
1,0.038462,0.038462,0.076923,0.038462,0.038462,0.038462,0.038462,0.038462,0.107143,0.000000,...,0.296296,0.111111,0.111111,0.148148,0.307692,0.076923,0.115385,0.076923,0.153846,0.153846
2,0.478261,0.478261,0.478261,0.434783,0.434783,0.434783,0.434783,0.434783,0.260870,0.043478,...,0.043478,0.000000,0.217391,0.130435,0.045455,0.173913,0.173913,0.173913,0.260870,0.391304
3,0.218182,0.145455,0.127273,0.109091,0.109091,0.109091,0.090909,0.090909,0.054545,0.109091,...,0.259259,0.259259,0.203704,0.129630,0.148148,0.296296,0.314815,0.370370,0.370370,0.407407
4,0.952381,0.952381,0.952381,0.952381,0.952381,0.952381,0.952381,1.000000,1.000000,1.000000,...,1.000000,1.000000,0.904762,0.857143,0.857143,0.857143,0.761905,0.761905,0.761905,0.761905
5,0.927536,0.811594,0.739130,0.724638,0.724638,0.724638,0.724638,0.724638,0.753623,0.971014,...,0.227273,0.454545,0.590909,0.833333,1.000000,0.818182,0.636364,0.712121,0.621212,0.575758

In [4]:
coord = pd.read_csv("data/velibCoord.csv")
coord.head()

                longitude "latitude" "bonus" "names"
0  1 2.37738886313363 48.8863000510864 0 " EURYAL...
1   2 2.3175909298999 48.890020496141 0 " LEMERCIER"
2  3 2.33044682027725 48.8502970102176 0 " MEZIER...
3    4 2.27139647246143 48.8337338301773 0 " FARMAN"
4  5 2.36689679377372 48.8458869463868 0 " QUAI D...

On vérifie qu'on n'ait pas de données manquantes

In [6]:
loading.isnull().sum().sum()

0

In [7]:
coord.isna().sum().sum()

0